.admin-orders-container {
    padding: 20px;
    color: #fff;
    background-color: #6bbf59;
    border-radius: 10px;
    max-width: 1000px;
    margin: 20px auto;
}

.admin-orders-container h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffcc00;
    margin-bottom: 20px;
}

.order-card {
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #333;
}

.order-header {
    margin-bottom: 10px;
}

.order-header h3 {
    font-size: 1.5rem;
    color: #ffd700;
}

.order-header p {
    font-size: 1rem;
    margin: 5px 0;
}

.order-products h4 {
    font-size: 1.2rem;
    color: #ffd700;
    margin: 10px 0;
}

.order-products .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.order-products .product-card {
    background: #444;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 1 calc(33.333% - 10px); /* Ajusta el ancho para tres columnas */
}

.order-products .product-card img {
    max-width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order-products .product-card p {
    color: #fff;
    font-size: 0.9rem;
}

/* Media Queries para dispositivos responsivos */

@media (max-width: 768px) {
    .admin-orders-container {
        padding: 15px;
    }

    .admin-orders-container h2 {
        font-size: 1.5rem;
    }

    .order-header h3 {
        font-size: 1.3rem;
    }

    .order-header p {
        font-size: 0.9rem;
    }

    .order-products h4 {
        font-size: 1rem;
    }

    .order-products .products-container {
        gap: 8px;
    }

    .order-products .product-card {
        flex: 1 1 calc(50% - 8px); /* Ajusta el ancho para dos columnas */
    }
}

@media (max-width: 480px) {
    .admin-orders-container {
        padding: 10px;
    }

    .admin-orders-container h2 {
        font-size: 1.2rem;
    }

    .order-header h3 {
        font-size: 1.1rem;
    }

    .order-header p {
        font-size: 0.8rem;
    }

    .order-products h4 {
        font-size: 0.9rem;
    }

    .order-products .products-container {
        gap: 5px;
    }

    .order-products .product-card {
        flex: 1 1 100%; /* Ajusta el ancho para una columna */
    }
}
